.red {
    background-color : red;
}

.blue {
    background-color: blue;
}

.lime{
    background-color : lime;
}

.orange {
    background-color : orange;
}

.magenta {
    background-color : magenta;
}