 

body {
   
    padding: 10%;
    
    color: rgba(0, 0, 0, .54);
   

}

h1 {
    
    color: rgba(43, 3, 3, 0.575);
    
}

h2 {
 
    color: rgba(170, 78, 36, 0.596);
   

}




.pink {
    background: palevioletred;
    height: 50px;
    width: 1000px;
    display: inline-block;

}