<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/Table.css}" />
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Todos for today:</h1>
<table>
    <tr>
        <th class="id">ID</th>
        <th class="action">Action</th>
        <th class="urgent">Urgent</th>
        <th class="done">Done</th>
    </tr>

    <ul>


        <th:block th:each="element:${activeTodos}">
            <tr>
                <td th:text="${element.id}"/>
                <td th:text="${element.title}"/>
                <td th:text="${element.urgent}"/>
                <td th:text="${element.done}"/>

            </tr>
        </th:block>
    </ul>
</table>
</body>
</html>

